@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

html {
    scroll-behavior: smooth; /* Animación de Scroll suave */
}

html * {
    margin: 0;
    padding: 0;
    font-family: "Spartan";
}

.site-logo {
    color: white;
    font-weight: 900;
    letter-spacing: 0.35em;
    float: right;
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    right: 1rem;
    -ms-transform: translateY(-50%); /* Centrar verticalmente */
    transform: translateY(-50%); /* Centrar verticalmente */
}

.main-navbar, nav {
    background-color: black;
    position: relative;
}

.main_menu {
    list-style-type: none;
    overflow: hidden;
}

.menu_item {
    float: left;
    padding: 1.5rem;
}

.main-navbar, a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}

.menu_item:hover {
    background-color: #8c6700;
    font-weight: 900;
    cursor: pointer;
}

.active{
    background-color: #c79200;
    font-weight: 900;
}

.header {
    height: 92.875vh; /* Ocupar el total del Viewport */
    background-blend-mode: multiply; /* Cambiar modo de fusión para añadir tinte dorado */
    background: rgba(199, 146, 0, 0.6); /* Tinte dorado */
    background-image: url(/assets/images/source.gif);
    background-attachment: fixed; /* Efecto paralaje (parallax) */
    background-repeat: no-repeat; /* Efecto paralaje (parallax) */
    background-size: cover; /* Efecto paralaje (parallax) */
}

.header h1 {
    padding-top: 17rem;
    font-size: 2rem;
}

.header h2 {
    font-size: 1.6rem;
}

.header h1, h2 {
    color: white;
    margin: auto;
    text-align: center;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #999999, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); /* Sombreado del texto para mayor legibilidad */
}

#arrow-container .fa-arrow-down {
    font-size: 3em;
    position: absolute;
    bottom: 5%;
    right: 50%;
    left: 50%;
    color: rgba(255, 255, 255, 0.7);
}

.content {
    margin-top: 3rem;
    text-align: center;
}

.section_title { /* Título de sección (por ejemplo, seccion form) */
    line-height: 3em;
}

.section_subtitle { /* Subtítulo de sección (por ejemplo, sección form) */
    color: rgba(0, 0, 0, 0.5);
}

.form {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 40px; /* Radio de las esquinas */
    margin: auto;
    padding: 2rem;
    height: 30rem;
    width: 40%;
    -webkit-box-shadow: 0px 12px 22px -10px rgba(0,0,0,0.49); /* Sombreado de la caja */
    box-shadow: 0px 12px 22px -10px rgba(0,0,0,0.49); /* Sombreado de la caja */
}

.form input[type=button] { /* Aclarar el tipo del input */
    font-weight: 800;
    padding: 10px;
    color: white;
    background-color: #c79200;
    border-radius: 5px;
    border: 1px #8c6700 solid;
}

.form input[type=button]:hover {
    background-color: #8c6700;
    border: 1px #3d2d00 solid;
    cursor: pointer;
}

.form label {
    font-weight: 900;
}

.form_general_label {
    font-weight: 900;
}

.form_specific_label {
    font-weight: 500 !important;
}

#tabla_usuarios {
    margin: auto;
    width: 50%;
}

footer {
    margin-top: 5rem;
    padding: 5rem 0 8rem 0;
    position: relative;
    left: 0;
    bottom: 0;
    background-color: black;
    text-align: center;
}

footer .footer_header {
    font-weight: 900;
    color: #c79200;
}

footer .footer_content {
    font-size: 0.8rem;
    color: white;
}

.social_menu {
    position: absolute;
    right: 3%;
    bottom: 2%;
    list-style-type: none;
    overflow: hidden;
}

.social_item {
    float: left;
    padding: 0.5rem;
}

.social_item a {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.4rem;
    display: block;
}

.social_item:hover {
    background-color: #8c6700;
    font-weight: 900;
    cursor: pointer;
}

.decorated_span {
    background-color: white;
    color: black;
    padding: 5px 4px 4px 4px;
    font-weight: 500;
    border-radius: 10px 0 10px 0;
}

#scrollUp_btn {
    display: block;
    position: fixed;
    bottom: 45px;
    right: 40px;
    z-index: 99; /* Poner el botón en la capa más alta, para que no se solape con el contenido de la web y quede siempre por encima */
    border: none;
    outline: none;
    background-color: #c79200;
    color: white;
    cursor: pointer;
    padding: 17px;
    border-radius: 500px;
    font-size: 18px;
    -webkit-box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.49); 
    box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.49);
}
  
#scrollUp_btn:hover {
    background-color: #555;
}


/* Ocultar logo en pantallas más pequeañas (responsive) */
@media screen and (max-width: 1060px) {
    .site-logo { display: none; }
}